#info {
    position: fixed;
    bottom: 52px;  
    right: 30px;   
    background-color: rgba(51, 51, 51, 0.85); 
    color: #fff;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 1.4;
    z-index: 1000; 
    backdrop-filter: blur(4px); 
    transition: opacity 0.3s ease;
}

.location-info {
    margin-bottom: 8px;
    text-align: right;
}

.location-info strong {
    font-weight: 500;
    display: block;
}

.time-weather-container {
    display: flex;
    align-items: center;
   ; /* Alinha à direita */
    gap: 30px; /* Espaço entre relógio e clima */
}

#relogio {
    font-size: 1.1em;
    font-weight: bold;
    white-space: nowrap;
}

.weather-info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.1em;
}

.weather-info img {
    width: 27px;
    height: 30px;
}